<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title th:text="${position.pname}">职位</title>
<link th:include="commonhf::view"></link>
<script src="js/jobview.js" th:src="@{/js/jobview.js}"></script>
</head>
<body style="height: auto">
	<div th:replace="commonhf::header"></div>
	<div style="width: 100%; height: auto; position: absolute; top: 110px">
		<div id="center">
			<div class="nav">
				<ul class="list-inline">
					<li><a th:href="@{/}">首页</a> <span>></span></li>
					<li><a th:href="@{/search/jobs}">职位</a> <span>></span></li>
				</ul>
				<span>详情</span>
			</div>
			<div class="contents">
				<div class="header">
					<div class="poslist leftinfo">
						<div class="position">
							<p class="name" th:text="${position.pname}"></p>
							<p>
								<span class="salary" th:text="${position.salary}"></span> <span th:text="${position.workplace}"></span> <span th:text="${position.wnature}"></span>
								<span th:text="${position.edu}"></span> <span th:text="${position.number}"></span> <span th:text="${position.skill}"></span>
							</p>
						</div>
					</div>
					<div class="rightinfo">
						<ul class="list-inline">
							<li>
								<th:block th:if="${not isCollect}">
									<a th:href="@{/student/colPos(pid=${position.id},
									pname=${position.pname},cid=${position.cid},cname=${company.cname},address=${position.workplace})}"></a>
									<button type="button" class="btn btn-warning collect">收藏</button>
								</th:block>
								<button th:unless="${not isCollect" type="button" class="btn btn-default hascollect">已收藏</button>
							</li>
							<li>
								<th:block th:if="${not isDeliver}">
									<a th:href="@{/student/deliver(pid=${position.id},
									comid=${position.cid},pname=${position.pname},cname=${company.cname})}"></a>
									<button type="button" class="btn btn-info deliver">申请职位</button>
								</th:block>
								<button th:unless="${not isDeliver}" type="button" class="btn btn-default hasdeliver">已申请</button>
							</li>
						</ul>
						<ul class="list-inline">
							<li>发布时间: <span th:text="${position.pdate}"></span>
							</li>
							<li>浏览次数: <span id="vnumber" th:text="${position.hot}"></span>
							</li>
						</ul>
					</div>
					<div style="clear: both"></div>
				</div>
				<div class="section">
					<div class="left-info">
						<div class="title">
							<h4>需求专业</h4>
							<p th:text="${position.speciality}"></p>
							<h4>职位描述</h4>
						</div>
						<div class="info" th:utext="${position.mcontents}"></div>
					</div>
					<div class="right-info">
						<div class="contact">
							<h4>职位发布人</h4>
							<p>
								联系人:<span th:text="${position.name}"></span>
							</p>
							<p>
								联系电话:<span th:text="${position.telephone}"></span>
							</p>
							<p>
								简历投递:<span th:text="${company.zpemail}"></span>
							</p>
						</div>
						<br />
						<div class="com-info">
							<div>
								<img th:src="@{/images/defaultlogo.png}" /> <a href="javascript:;" th:text="${company.cname}"></a>
							</div>
							<p>
								单位性质:<span th:text="${company.nature}"></span>
							</p>
							<p>
								单位行业:<span th:text="${company.industry}"></span>
							</p>
							<p>
								单位规模:<span th:text="${company.scale}"></span>
							</p>
							<h6>
								<strong>地址</strong>
							</h6>
							<p th:text="${company.address}"></p>
						</div>
					</div>
					<div style="clear: both"></div>
				</div>
			</div>
		</div>
		<div th:replace="commonhf::#footer"></div>
	</div>
	<script type="text/javascript">
		$(function() {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});
		});
	</script>
</body>
</html>
