<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>单位注册申请</title>
<link th:include="commonth::thhead"></link>
</head>
<body style="height: auto">
	<div th:replace="commonhf::sheader"></div>
	<div style="width: 100%; height: auto; position: absolute; top: 110px">
		<div id="center">
			<div th:replace="commonth::teacherNav('单位注册申请')"></div>
			<div th:replace="commonth::thLeft"></div>
			<div class="right" style="min-height: 360px">
				<p>申请类型</p>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						单位注册申请 <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a th:href="@{/teacher/shsq/page/1}">单位注册申请</a></li>
						<li><a th:href="@{/teacher/shsqt/page/1}">宣讲会申请</a></li>
					</ul>
				</div>
				<hr />
				<div class="item-list-app">
					<ul>
						<li class="item-c" th:each="item : ${page.records}">
							<p>
								<a class="name"
									th:href="@{/views/shsqc/id/{id}(id=${item.id},card=${item.card},email=${item.cemail})}"
									th:text="${item.cname}" th:title="${item.cname}" target="_blank">重庆通拓交通规划设计有限公司</a> <span
									th:if="${not #strings.isEmpty(item.card)}" class="schoolmate">校友</span> <span class="date">[[${item.adate}]]
									申请</span> <span><i>联系邮箱：</i>[[${item.cemail}]]</span>
							</p>
							<p>
								<span><i>登录名：</i>[[${item.username}]]</span> <span><i>联系人：</i>[[${item.name}]]</span> <span><i>联系电话：</i>[[${item.telephone}]]</span>
								<a style="float: right"
									th:href="@{/views/shsqc/id/{id}(id=${item.id},card=${item.card},email=${item.cemail})}" target="_blank">详情>></a>
							</p>
							<div style="clear: both"></div>
						</li>
					</ul>
				</div>
				<div th:replace="commonhf::pageHelper('teacher/shsq/page/{page}')"></div>
			</div>
			<div style="clear: both"></div>
		</div>
		<div th:replace="commonhf::#footer"></div>
	</div>
	<script>
		$("#center .left li")[1].className = "uactive";
	</script>
</body>
</html>
