<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>专业介绍发布</title>
<link th:include="commonth::thhead"></link>
<link th:include="commonhf::wbc"></link>
</head>
<body style="height: auto">
	<div th:replace="commonhf::#pre-show"></div>
	<div th:replace="commonhf::sheader"></div>
	<div style="width: 100%; height: auto; position: absolute; top: 110px">
		<div id="center">
			<div th:replace="commonth::teacherNav('专业介绍发布')"></div>
			<div th:replace="commonth::thLeft"></div>
			<div class="right" style="min-height: 360px">
				<form th:action="@{/teacher/zyjs}" method="post" id="post-jobinfo"
					class="form-horizontal" role="form">
					<div class="appointment-details">
						<h4>专业情况</h4>
						<hr />
						<div class="form-group">
							<label for="collegen" class="col-sm-2 control-label"> <span style="color: #f40">*</span>
								学院名称
							</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" id="collegen" name="cname" required />
							</div>
						</div>
						<div class="form-group">
							<label for="collegec" class="col-sm-2 control-label"> <span style="color: #f40">*</span>
								学院代码
							</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" id="collegec" name="cid" required />
							</div>
						</div>
						<div class="form-group">
							<label for="majorn" class="col-sm-2 control-label"> <span style="color: #f40">*</span>
								专业名称
							</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" id="majorn" name="mname" required />
							</div>
						</div>
						<div class="form-group">
							<label for="majorc" class="col-sm-2 control-label"> <span style="color: #f40">*</span>
								专业代码
							</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" id="majorc" name="mid" required />
							</div>
						</div>
					</div>
					<div class="recruit">
						<h4>专业介绍</h4>
						<hr />
						<textarea hidden="hidden" name="contents" id="contents" cols="30" rows="10"></textarea>
						<div id="wangEditor"></div>
					</div>
					<div style="width: 110px; margin: 50px auto 0 auto">
						<button id="submitBtn" type="button" class="btn mybtn">发布</button>
					</div>
				</form>
			</div>
			<div style="clear: both"></div>
		</div>
		<div th:replace="commonhf::#footer"></div>
	</div>
	<script>
		let oCont = document.getElementById("contents");
		const E = window.wangEditor;
		const editor = new E("#wangEditor");
		editor.config.height = 200;
		editor.config.showFullScreen = false;
		editor.config.menus = [ "bold", "head", "italic", "underline", "undo",
				"redo", ];
		editor.config.onchange = function(newHtml) {
			oCont.value = newHtml;
		};
		editor.create();
		$("#center .left li")[5].className = "uactive";
		$(function() {
			$("[data-toggle='tooltip']").tooltip();
		});
	</script>
</body>
</html>
