<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body style="background-color: #6bc5a4;">
	<section>
	    <div class="container ">

	        <section style="margin-top:15%;text-align: center;">
	            <h1><img th:src="@{/images/404-error.png}"></h1>
	            <h2>page not found</h2>
	            <h3>We Couldn’t Find This Page</h3>
	            <a class="back-btn" th:href="@{/}"> Back To Home</a>
	        </section>

	    </div>
</section>
</body>
</html>